@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: "Lato", sans-serif;
  color: #ddd;
}

body {
  background: center fixed no-repeat url("/tbbback.svg");
  background-size: cover;
}

.Mainpage {
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-size: cover;
  h1 {
    font-size: 2rem;
    width: 100%;
  }
}

.pagePanel {
  margin-top: 40px;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

nav {
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
  }
  button {
    width: 100px;
    margin-top: 0;
    height: 60%;
  }
}

footer {
  position: relative;
  min-height: 30vh;
  background-color: #3e4383;
  box-shadow: 0px -11px 22px 11px rgba(0, 0, 0, 0.158);
  padding: 80px 120px 40px 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  z-index: 100;
  section {
    width: 100%;
    min-height: 30px;
    .wrap {
      margin-top: 20px;
    }
  }
}

textarea {
  background-color: rgb(49, 53, 53);
  border: none;
  border-radius: 10px;
  padding: 20px;
  resize: vertical;
  width: 100%;
  margin-top: 30px;
}

input {
  background-color: rgb(49, 53, 53);
  border: none;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
}

button {
  width: 90%;
  background-color: rgb(49, 53, 53);
  border: none;
  height: 50px;
  border-radius: 13px;
  transition: 0.3s;
  align-self: center;
  &:hover {
    background-color: rgb(40, 43, 43);
  }
}

@media screen and (orientation: portrait) {
  footer {
    padding: 50px;
  }
}

#waves {
  width: 100%;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  top: 50%;
  z-index: 0;
}

#file {
  padding: 0;
  margin-top: 10px;
  border-radius: 0px;
  background: none;
}

img {
  max-width: 50%;
}
