@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'Lato', sans-serif;
    color: #ddd;
}

body{
    background-color: rgb(64, 68, 68);
}


.Mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    h1{
        font-size:2rem;
        width: 100%;
    }
}

.pagePanel{
    margin-top: 40px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }
}

nav{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
}

footer{
    height: 30vh;
    background-color: rgb(49, 53, 53);
    border-top: solid 1px rgb(126, 125, 125);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
    grid-gap: 20px;
    section{
        width: 100%;
        // background-color: green;
        .wrap{
            margin-top: 20px;
        }
    }
}